* {
  box-sizing: border-box;
}

.rectangle {
  background-color: white;
  border: 2px solid green;
  margin: 5px;
}

.chosen-rectangle {
  background-color: gray;
  border: 2px solid green;
  margin: 5px;
}

.correct-rectangle {
  background-color: lightseagreen;
  border: 2px solid green;
  margin: 5px;
}

.incorrect-rectangle {
  background-color: red;
  border: 2px solid green;
  margin: 5px;
}